* {
  background-color: beige;
}

h1 {
  text-align: center;
}

.input-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.item-inputs {
  background-color: white;
  border-radius: 4px;
  font-size: 16px;
  height: 20px;
  margin-right: 15px;
  width: 100px;
}

select {
  background-color: white;
  height: 26px;
}

.add-item-btn {
  background-color: white;
  font-size: 14px;
  height: 26px;
  margin: 0px 15px;
  width: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list {
  background-image: url('https://previews.123rf.com/images/khaar/khaar1409/khaar140900114/31817179-white-garage-door-texture-pattern-background.jpg');
  border: 5px solid black;
  width: 540px;
  height: 500px;
}

.show-door {
  background-image: url('https://previews.123rf.com/images/khaar/khaar1409/khaar140900114/31817179-white-garage-door-texture-pattern-background.jpg');
  border: 5px solid black;
  width: 540px;
  height: 500px;

}



.clicked {
  background-image: none;
}

button {
  background-color: white;
  height: 30px;
  font-size: 18px;
  margin: 15px;
  width: 145px;
}

.item {
  font-size: 18px;
}

.item-cards {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  margin: 5px;
}

.item-info {
  display: none;
}

/*.item-info-show {
  display: all;
}*/
